<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.chris.diaz"
        versionCode = "1" 
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Artist Chris Diaz</name>

    <description>
        A sample app for my online portfolio. 
    </description>

    <author href="http://artwolf.businesscatalyst.com/index.html" email="wolf8rat@gmail.com">
        Chris Diaz
    </author>

    <gap:plugin name="nl.x-services.plugins.socialsharing" />

</widget>